* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input, textarea, label {
    margin: 0.5em;
}

#quantity {
    width: 5%;
}

#editButton {
    
    margin: 0.5em;
    
}

#deleteButton {
    
    margin: 0.5em;
}

th {
    text-align: left;   /* Align text to the left */
    padding: 0.5em 0.5em; /* Add horizontal space inside the headers */
}

td {
    text-align: left;   /* Align text to the left */
    padding: 0.5em 0.5em; /* Add horizontal space inside the headers */
}

#buttons {
    padding-left: 2em;
}

#edititem1 {
    width: 10%;
}

#editQuantity {
    width: 10%;
}
